#hero img{
    height: 500px;
}


#hero{
    background-color: rgb(235, 225, 211);
    /* background-color: rgb(192, 188, 181); */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
    align-items: center;
}


#hero .hero-text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 40px 3% 20px 3%;
    max-width: 50%;
    box-sizing: border-box;
}
#hero .hero-text h1 {
  font-family: "Playfair Display", serif;
  padding: 30px 0;
  font-size: 2.5rem;
  margin: 0 0 10px 0;
}
#hero .hero-text p {
  margin: 0;
  color: #333;
  padding: 5px 0;
}

#hero .hero-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: auto;
    display: flex;
    align-items: right;
    height: 100%;
    width: auto;
    object-fit: cover;
    mask-image: linear-gradient(to right, transparent 0%, black 20%);
    -webkit-mask-image: linear-gradient(to right, transparent 0%, black 20%);
}