#navb{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 1030;
    background-color: white;
}

.logo{
    align-self: center;
}

.container-fluid{
    padding: 0%;
    padding-right: 10px;
}
#navb img{
    background-color: white;
    width: 70px;
    align-items: center;
    border-radius: 50%;
}
#navb nav{
    background-color: black;
}
#navb .navbar-brand{
    font-family: "Cookie", cursive;
    font-size: xx-large;
    margin: 0;
}
#navb ul{
    font-family: "Bodoni Moda", serif;
    font-size: large;
}
#navb .options{
    background-color: black;
}

#navb nav .container-fluid {
    display: flex !important;
    justify-content: center !important;
}

.logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin: 0 auto; */
    width: 100%;
}
.logo-text{
    font-family: "Zalando Sans Expanded", sans-serif;
    /* font-optical-sizing: auto; */
    font-weight: 400;
    /* font-style: normal; */
    font-size: larger;
    margin: 5px 0 0 0;
    text-align: center;
}

.comp{
    display: flex;
    gap: 5rem;
    flex-wrap:wrap-reverse;
    list-style-type: none;
    justify-content: center;
    margin-bottom: 8px;
}
#myCarousel{
    padding: 5px 0px;
    margin-top:168px; 
    height: 40px;    
}
.carousel-inner{
    height: 40px;
}
.carousel-item{
    min-height: 40px; 
    background-color:rgb(0, 0, 0)
}
#myCarousel .container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
    height: 100%;
}

#menu {
    margin: 30px;
}

.collection{
    color: #1d0f06;
}


@media(max-width: 768px){
    .options{
        display:none;
    }

    #navbarCollapse{
        padding-left: 20px;
    }
    
    .navbar-toggler{
        display: none;
    }
    #navb img{
        width: 30px;
    }

    .logo-text{
        font-size: medium;
        margin: 3px 0 0 0;
    }
    .comp{
        display: flex;
        flex-direction: row;
        gap: 30px;
        list-style-type: none;
        justify-content: space-evenly;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
        padding: 10px 0;
        -webkit-overflow-scrolling: touch;
        white-space: nowrap;
    }
    
    .comp li{
        flex-shrink: 0;
        min-width: max-content;
        text-align: center;
    }

    #myCarousel{
        margin-top: 180px;
        display: block !important;
        visibility: visible !important;
        height: auto !important;
    }
    .carousel-inner{ 
        height: auto; 
    }
    .carousel-item {
        /* min-height: auto !important; */
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(30, 17, 17);
    }

    #myCarousel .container{
        padding: 10px;
    }

    #myCarousel p {
        word-wrap: break-word;
        white-space: normal;
        text-align: center;
        font-size: 14px;
    }
      .about-inner {
    flex-direction: column;
    gap: 18px;
    margin: 20px auto;
  }

  .about-image,
  .about-text {
    flex: 0 0 auto;
    width: 100%;
    max-width: 680px;
  }

  .about-image img {
    max-width: 100%;
    border-radius: 6px;
  }

  .about-title {
    padding: 24px 12px;
    font-size: 1.5rem;
  }

    #features {
    flex-direction: column;
    gap: 16px;
  }
  #features .feature-item {
    max-width: 100%;
  }
}








